/* Contact section styles */
.contact-section {
  padding: 80px 0;
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.info-item {
  margin: 0 20px;
}

.info-item i {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff; /* Blue icon color */
}

.info-item span {
  font-size: 1rem;
  color: #333; /* Dark gray text color */
}

.contact-form form {
 display:flex;
  flex-direction:column;
  align-items:center;
}

.contact-form label {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #333; /* Dark gray text color */
}

.contact-form input,
.contact-form textarea {
  width: 80%;
  max-width:600px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
}

.contact-form button {
  background-color: #007bff; /* Blue button background */
  color: #fff; /* White button text color */
  border: none;
  align-self:end;
  width:50%;
  max-width:300px;
  margin:2px auto;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3; /* Dark blue hover background */
}
