/* Navbar styles */
.navbar {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height:60px;
  border: none;
  box-shadow: 1px 0 1px 0px rgba(1, 56, 255, 0.9);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 2px;

}

.menu-icon {
  display: none;
  background: none;
  border: none;
  color: #000000;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #001763;
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  transition: all 0.5s ease;
  border-bottom: 1px solid transparent;
  padding: 10px;
  cursor: pointer;

}
.navbar li{
  list-style: none;
}

.nav-link.active,
.nav-link:hover {
  color: #0a22ff;
  border-bottom: 2px solid #000000;
}
.search{
  display: none;
}
.logo-mobile{
  display: none;
}

.sub-list{
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 250px;
  box-shadow: 0 20px 45px #000000;
  margin-top: -10px;
  transition: all ease 0.6s;
  border-radius: 5px;
  display: none;
  z-index: 999;
}


.nav-link:hover + .sub-list,
.sub-list:hover {
  display: block; 
  margin-top: 0px;
}
.sub-list .services-list {
  color: #00071d;
  text-decoration: none;
  display: block;
  margin-right: 20px;
  font-size: 20px;
  transition: all 0.5s ease;
  padding: 10px;
  cursor: pointer;
}
.products-list{
  color: #00071d;
  text-decoration: none;
  display: block;
  margin-right: 20px;
  font-size: 20px;
  transition: all 0.5s ease;
  padding: 10px;
  cursor: pointer;
}
@media screen and (max-width: 780px) {
  .navbar-links {
    display: none;
    flex-direction: column; 
    position: fixed;
    top: 0px; 
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 20px;
    z-index: 999; 
    transition: all 0.3s ease;
    height: 100vh;
  }

  .navbar-links.active {
    display: flex;
  }

  .menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001; 
    
  }
  .logo-mobile{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0 2px 4px rgba(2, 13, 51, 0.9);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;

  }
  .search{
    width: 90%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0 0px 1px rgba(2, 13, 51, 0.5);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
  }
  .search:hover{
    width: 90%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0 2px 4px rgba(2, 13, 51, 0.9);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
  }
  .search-input{
    width: 80%;
    font-size: 23px;
    border: none;
    border-bottom: 1px solid #4e4d4d;
    outline: none;
    padding: 10px;

  }
  .search-icon{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    padding: 20px;
    cursor: pointer;
  }
  .nav-link{
    margin-right: 0px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #000000;
    text-decoration: none;
    width: 70%;
    padding: 20px;
    box-shadow: 1px 0px 0px rgba(2, 13, 51, 0.9);
    border-radius: 10px;

  }
}
