/* Partner section styles */
.partners-section {
  padding: 80px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.partner-card {
  width: calc(33.33% - 20px);
  padding: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.partner-card img {
  width: 100px; /* Adjust the width of partner logos */
  height: auto;
  margin-bottom: 10px;
}

.partner-card p {
  font-size: 1rem;
  color: #666;
}
